*{
    box-sizing: border-box;
}
.reviews {
    max-width: 1000px;
    margin: 0 auto;
}
.reviews__item {
}
.review {
    display: flex;
    margin-bottom: 50px;
}
.review__thumb {
    width: 100px;
    flex: 0 0 100px;
}
.review__img {
    max-width: 100%;
    vertical-align: top;
}
.review__body {
    padding-left: 40px;
}
.review__title {
}
.review__text {
    margin-bottom: 10px;
    overflow: hidden;
    transition: max-height 0.6s; /* для обрезки по абзацам */
    /* обрезка по количеству строк */
    line-height: 20px;/* для обрезки по строкам нужна line-height в px (если текст внутри блока не делится на абзацы) */
    /* -webkit-line-clamp: 2; Число отображаемых строк */
    display: -webkit-box; /* обязательно! */
    -webkit-box-orient: vertical; /* обязательно! */
    overflow: hidden; /* Обрезаем всё за пределами блока */
}
.review__text-par {
    margin: 0 0 20px 0;
     /* обрезка по количеству строк */
    line-height: 20px;/* для обрезки по строкам нужна line-height в px  (если текст внутри блока делится на абзацы) */
    /* -webkit-line-clamp: 2; Число отображаемых строк */
    display: -webkit-box; /* обязательно! */
    -webkit-box-orient: vertical; /* обязательно! */
    overflow: hidden; /* Обрезаем всё за пределами блока */
}
.truncated{
   
    
}
